<div class="col-xl-4 col-lg-4">
    <div class="blog__sidebar">
        <div class="sidebar__widget mb-75">
            <div class="sidebar__widget-title mb-50">
                <h4>Категории</h4>
            </div>
            <div class="sidebar__widget-content">
                <div class="cat-link">
                    <ul>
                        <li><a href="#">Веб дизайн</a></li>
                        <li><a href="#">Разработка сайтов</a></li>
                        <li><a href="#">Графика</a></li>
                        <li><a href="#">Администрирование серверов</a></li>
                        <li><a href="#">SEO и Реклама</a></li>
                        <li><a href="#">Python и библиотеки</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar__widget mb-50">
            <div class="sidebar__widget-title mb-50">
                <h4>Популярные теги</h4>
            </div>
            <div class="sidebar__widget-content">
                <div class="tags">
                    <a href="#">The Saas</a>
                    <a href="#">Pix Saas Blog</a>
                    <a href="#">Landing</a>
                    <a href="#">UI/UX Design</a>
                    <a href="#">Branding</a>
                    <a href="#">Animation</a>
                    <a href="#">Design</a>
                    <a href="#">Ideas</a>
                </div>
            </div>
        </div>
    </div>
</div>
