{% extends 'layout/layout.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <!-- page title area start -->
    <section class="page__title p-relative d-flex align-items-center fix"
             data-background="assets/img/page-title/page-title-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__title-content mt-100">
                        <h2>Наш блог</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index:index' %}">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Наш блог</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->
    <!-- blog area start -->
    <section class="blog__area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="blog__wrapper mr-50">
                        {% for serv in post %}
                            <div class="blog__item-2 mb-50 fix">
                                <div class="blog__thumb-2 fix">
                                    <a href="{% url 'index:blog-detail' serv.id %}"><img src="{{ serv.image.url }}" alt="{{ serv.title }}"></a>
                                </div>
                                <div class="blog__content-2">
                                    <div class="blog__meta-2 mb-15 d-sm-flex align-items-center">
                                        <div class="blog__user pr-20 mr-20">
                                            <a href="{% url 'index:blog-detail' serv.id %}">
                                                <img src="/static/assets/img/blog/user/user-1.jpg" width="15" alt="{{ serv.title }}">
                                                <h6>{{ serv.author }}</h6>
                                            </a>
                                        </div>
                                        <div class="blog__date">
                                            <span>{{ serv.date }}</span>
                                        </div>
                                    </div>
                                    <h3><a href="{% url 'index:blog-detail' serv.id %}">{{ serv.title }}</a></h3>
                                    <p>{{ serv.short_content|truncatechars:300 }}</p>
                                    <div class="blog__btn d-sm-flex justify-content-between">
                                        <div class="blog__btn">
                                            <a href="{% url 'index:blog-detail' serv.id %}" class="link-btn-2">
                                                Читать дальше
                                                <i class="fal fa-long-arrow-right"></i>
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="pagination">
                        </div>
                        <div class="basic-pagination">
                            <ul>
                                <li>
                                    {% if page_obj.has_previous %}
                                        <a href="?page={{ page_obj.previous_page_number }}">
                                            <i class="fal fa-long-arrow-left"></i>
                                            <i class="fal fa-long-arrow-left"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="active">
                                            <a href="?page={{ i }}">
                                                <span>{{ i }}</span>
                                                <span>{{ i }}</span>
                                            </a>
                                        </li>
                                    {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
                                        <li>
                                            <a href="?page={{ i }}">
                                                <span>{{ i }}</span>
                                                <span>{{ i }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <i class="fal fa-long-arrow-right"></i>
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% include 'block/blog-sidebar.html' %}
            </div>
        </div>
    </section>
    <!-- blog area end -->
{% endblock %}
