{% extends 'layout/layout.html' %}

{% block title %}
    KILLNET73 - Веб студия готовых бизнес решений и разработки программного обеспечения и сайтов
{% endblock %}

{% block content %}
    <!-- slider area start  -->
    <div id="slider" class="slider__area red-bg position-relative fix">
        <div class="slider__social position-absolute">
            <ul>
                {% for social in social_link %}
                    <li><a href="{{ social.link }}">{{ social.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="slider__shape">
            <img src="/static/assets/img/logo.png" alt="">
        </div>
        <div class="slider__back-text">
            <span>designer</span>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-12">
                    <div class="slider__content">
                        <h1>Есть идея? Мы поможем</h1>
                        <h2>Веб-студия<br><span>KillNet73</span></h2>
                        <div class="slider__btn">
                            <a href="#portfolio" class="m-btn mr-15 smooth-scroll">Наши работы</a>
                            <a href="#contact" class="slider__envelope smooth-scroll"><i
                                    class="far fa-envelope-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider area end  -->
    <!-- about area start  -->
    <div id="about" class="about__area theme-bg pt-120 pb-85">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="about__heading mb-30">
                        <h3>10 ЛЕТ В РАЗРАБОТКЕ ВЕБ-ПРОЕКТОВ</h3>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="about__right mb-30">
                        <div class="work-done mr-60 mb-30">
                            <h4>100<span>%</span></h4>
                            <p>Работ завершено</p>
                        </div>
                        <div class="about__p">
                            <p>
                                Мы делаем проекты любой сложности.<br>
                                Мы ценим ваше время, поэтому сроки для нас - очень важно.<br>
                                Мы верим в вашу идею и поэтому работаем строго по тех заданию<br>
                                Мы - Killnet73, мы не обещаем - мы работаем.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->
    <!-- service area start  -->
    <div class="service__area position-relative grey-bg pt-120 pb-60">
        <div class="service__back-text">
            <span>Проекты</span>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="section__title mb-70 text-center">
                        <h3>Что мы делаем<span>?</span></h3>
                        <p></p>
                        <div class="back-text">
                            <h2>РАЗРАБОТКА</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="service__item">
                        <div class="service__icon">
                            <img src="/static/assets/img/service/service-icon1.png" alt="">
                        </div>
                        <div class="service__content">
                            <h4>SEO-продвижение</h4>
                            <p>Размещение рекламных объявлений, которые показываются при поиске в поисковиках, и соответствуют набранному запросу пользователя.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="service__item">
                        <div class="service__icon">
                            <img src="/static/assets/img/service/service-icon2.png" alt="">
                        </div>
                        <div class="service__content">
                            <h4>Копирайтинг</h4>
                            <p>Создание различного контента: изображения, видео, анимации и текста для ваших ресурсов. Ведение социальных сетей.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="service__item">
                        <div class="service__icon">
                            <img src="/static/assets/img/service/service-icon3.png" alt="">
                        </div>
                        <div class="service__content">
                            <h4>Дизайн</h4>
                            <p>Создание уникального дизайна для сайтов, интерфейсов для приложений, брендбуков, в частности логотипов, визиток и прочего.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="service__item">
                        <div class="service__icon">
                            <img src="/static/assets/img/service/service-icon4.png" alt="">
                        </div>
                        <div class="service__content">
                            <h4>Разработка</h4>
                            <p>Создание сайтов, веб-приложений, мобильных приложений и другого программного обеспечения, необходимого для осуществления потребностей клиента.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service area end -->
    <!-- portfolio area start  -->
    <div id="portfolio" class="portfolio__area">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                {% for serv in work %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="portfolio__item">
                            <img src="{{ serv.image.url }}" href="{% url 'index:portfolio_detail' serv.id %}" alt="{{ serv.title }}">
                            <a class="portfolio__overlay" href="{% url 'index:portfolio_detail' serv.id %}">
                                <div class="portfolio__overlay-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- portfolio area end -->
    <!-- work process area start  -->
    <div class="process__area grey-bg pt-120 pb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="section__title mb-70 text-center">
                        <h3>Стадии разработки<span>.</span></h3>
                        <p>Мы планируем стадии разработки ваших WEB проектов на группы</p>
                        <div class="back-text">
                            <h2>Процессы</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt--45">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="process__item mb-30">
                        <span>01</span>
                        <h4>Техническое задание</h4>
                        <p>Разработаем техническое задание для всех стадий разработки по вашему описанию проекта</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="process__item mb-30">
                        <span>02</span>
                        <h4>Frontend разработка</h4>
                        <p>Сделаем качественный дизай и веб верстку вашего проекта под ключ</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="process__item mb-30">
                        <span>03</span>
                        <h4>Backend разработка</h4>
                        <p>Реализуем отказоустойчивый backend на django и не только</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="process__item mb-30">
                        <span>04</span>
                        <h4>Презентация проекта</h4>
                        <p>Выполняем заключительные этапы по работе и предоставляем вам презентацию проекта</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- work process area end  -->
    <!-- award area start  -->
    <div class="award__area theme-bg position-relative pt-120 pb-75 fix">
        <div class="award__back-text">
            <span>Реалии</span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="award__left mb-30 pr-100">
                        <h3>Наш опыт за 10 лет</h3>
                        <div class="award__btn">
                            <a href="#" class="m-btn  red-btn mr-15">Читать далее...</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="award__right">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="award__item mb-40">
                                    <h4>2012 / Начало пути </h4>
                                    <p>Объединение команды одной совместной целью, создания веб проектов</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="award__item mb-40">
                                    <h4>2013 / Открытие набора</h4>
                                    <p>Набирая junior разработчиков, мы обучаем их работать с боевыми проектами</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="award__item mb-40">
                                    <h4>2016 / Создание своего хостинга</h4>
                                    <p>Качественный VDS/VPS машины и организация VPN сетей</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="award__item mb-40">
                                    <h4>2022 / 12 лет в разработке</h4>
                                    <p>10 лет мы реализуем ваши проекты</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- award area end -->
    <!-- video area start
    <div class="video__area text-center" data-background="assets/img/bg/video-bg.jpg">
        <a class="video__link position-relative popup-video" href="https://www.youtube.com/watch?v=FpQIWrHeFXo">
            <img src="assets/img/bg/video-btn-bg.png" alt="">
            <span>play</span>
        </a>
    </div>
    video area end -->
    <style>
        .round {
            border-radius: 100px; /* Радиус скругления */
            border: 3px solid; /* Параметры рамки */
            box-shadow: 0 0 7px #666; /* Параметры тени */
        }
    </style>
    <!-- testimonial area start  -->
    <div class="testimonial__area grey-bg fix pt-120 pb-80">
        <div class="container">
            <div class="section__title mb-70 text-center">
                <h3>Отзывы о нас</h3>
            </div>
            <div class="testimonial__active">
                {% for serv in answer  %}
                    <div class="testimonial__item">
                        <div class="testimonial__img position-relative mb-30">
                            <img src="/static/assets/img/testimonial/testimonial-border.png" alt="">
                            <img src="{{ serv.image.url }}" alt="{{ serv.title }}" height="300" width="260" class="center-img round">
                        </div>
                        <div class="testimonial__content mb-30">
                            <h3>{{ serv.title }}</h3>
                            <p>{{ serv.content }}</p>
                            <h4>{{ serv.full_name }}</h4>
                            <span>- {{ serv.company }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- testimonial area end -->
    <!-- contact area start  -->
    <div id="contact" class="contact__area grey-bg pb-120">
        <div class="contact__inner white-bg pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-10">
                        <div class="section__title mb-70 text-center">
                            <h3>Обратная связь<span>.</span></h3>
                            <p>Мы открыты для сотрудничества, если у вас есть идея, мы помомжем ее реализовать, заполните поля и мы обязательно с вами свяжемся, спасибо что выбрали нас!</p>
                            <div class="back-text">
                                <h2 class="color-grey">контакты</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact__form pb-100">
                    <form action="{% url 'index:create' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <p>{{ form.errors }}</p>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="input-field">
                                    <input type="text" name="full_name" placeholder="ваше имя">
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="input-field">
                                    <input type="text" name="email" placeholder="электронная почта">
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="input-field">
                                    <input type="text" name="phone" placeholder="Номер телефона">
                                    <i class="fal fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="input-field">
                                    <select required name="type_project">
                                        <option value="" disabled selected>Тип проекта</option>
                                        <option value="0">Графический дизайн</option>
                                        <option value="1">Разработка сайта</option>
                                        <option value="2">Администрирование сервера</option>
                                        <option value="3">SEO</option>
                                    </select>
                                    <i class="fal fa-arrow-down"></i>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="input-field">
                                        <textarea name="content" placeholder="описание" id="message" cols="30"
                                                  rows="10"></textarea>
                                    <i class="fal fa-edit"></i>
                                </div>
                            </div>
                            <div class="contact__btn">
                                <button type="submit" class="m-btn  red-btn theme-color">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area end -->
{% endblock %}