{% extends 'layout/layout.html' %}

{% block title %}
    Портфолио: {{ product.title }}
{% endblock %}

{% block content %}
    <!-- page title area start -->
    <section class="page__title p-relative d-flex align-items-center fix"
             data-background="{{ product.image.url }}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__title-content mt-100">
                        <h2>Портфолио от - <span style="color: red">{{ product.title }}</span></h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index:index' %}">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span style="color: red">{{ product.title }}</span></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->
    <!-- portolio details area start -->
    <section class="portfolio__details pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="portfolio__img-wrapper">
                        <div class="portfolio__img mb-30">
                            <a class="popup-image" href="{{ product.image.url }}"><img
                                    src="{{ product.image.url }}" alt=""></a>
                        </div>
                        {% for img in product_image %}
                            <div class="portfolio__img mb-30">
                                <a class="popup-image" href="{{ img.image.url }}"><img
                                        src="{{ img.image.url }}" alt=""></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 offset-xl-1">
                    <div class="portfolio__details-content mt-10">
                        <div class="portfolio__meta mb-5">
                            <h4>Дата создания:</h4>
                            <span>{{ product.date }}</span>
                        </div>
                        <h2>{{ product.title }}</h2>
                        <div class="portfolio__info mb-25">
                            <h3>Категория:</h3>
                            <p>
                                {% for i in product.category.all %}
                                    {{ i.title }}
                                {% endfor %}
                            </p>
                        </div>
                        <div class="portfolio__info mb-25">
                            <h3>Заказчик: </h3>
                            <p>{{ product.pricer }}</p>
                        </div>
                        <div class="portfolio__overview mt-40">
                            <h4>Описание</h4>
                            <p>{{ product.description|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portolio details area end -->
{% endblock %}