<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/meanmenu.css">
    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <link rel="stylesheet" href="/static/assets/css/preloader.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
</head>

<body>
<!-- Block: preloader  -->
{% include 'block/preloader.html' %}
<!-- preloader end -->

<!-- Block: header  -->
{% include 'block/header.html' %}
<!-- header end -->
<!-- Block: burger-menu  -->
<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu d-lg-none"></div>
            <div class="side-address mb-30">
                <div class="contact__list mb-30">
                    <h4>Фриланс аккаунты</h4>
                    <p><a href="https://kwork.ru/user/killnet">Kwork - KillNet73</a></p>
                </div>
                <div class="contact__list mb-30">
                    <h4>Telegram</h4>
                    <p><a href="https://t.me/killnet73">https://t.me/killnet73</a></p>
                </div>
                <div class="contact__list mb-30">
                    <h4>Электронная почта</h4>
                    <p>sbxdevops2@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- burger-menu end -->
<div class="offcanvas-overlay"></div>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div class="footer__top red-bg pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-8">
                    <div class="logo">
                        <a href="{% url 'index:index' %}">KILLNET.</a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-6 col-4">
                    <div class="go-top f-right">
                        <a id="scrollToTop" href="#"><i class="fas fa-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom footer-bg pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12">
                    <div class="footer__text mb-30">
                        <h3>Связаться с нами можно по форме выше, спасибо за уделенное нам внимание!</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="footer__social f-right">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Fullscreen search -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" placeholder="Search Your Keyword...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end fullscreen search -->


<!-- JS here -->
<script src="/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/owl.carousel.min.js"></script>
<script src="/static/assets/js/isotope.pkgd.min.js"></script>
<script src="/static/assets/js/one-page-nav-min.js"></script>
<script src="/static/assets/js/slick.min.js"></script>
<script src="/static/assets/js/jquery.meanmenu.min.js"></script>
<script src="/static/assets/js/ajax-form.js"></script>
<script src="/static/assets/js/wow.min.js"></script>
<script src="/static/assets/js/jquery.scrollUp.min.js"></script>
<script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/static/assets/js/plugins.js"></script>
<script src="/static/assets/js/main.js"></script>
</body>

</html>